@import "tailwindcss";
@import "@fontsource-variable/playfair-display";
@import "@fontsource-variable/dm-sans";

:root {
  --font-heading: 'Playfair Display Variable', serif;
  --font-body: 'DM Sans Variable', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-style: italic;
  font-variation-settings: "slnt" -10;
}
