<section class="cta bg-linear-to-r from-rose-900 to-rose-700 text-white py-16">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-3xl md:text-6xl font-bold mb-4">
      ¿Te identificas con alguna de estas situaciones?
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="bg-white/10 p-4 rounded-lg">
        <img src="/1.webp" alt="Icono 1" class="w-sm mx-auto mb-3 rounded-sm" />
        <h3 class="text-lg font-semibold mb-2">
          Sentirte perdido sin dirección
        </h3>
        <p>Experimentar falta de rumbo en la vida</p>
      </div>
      <div class="bg-white/10 p-4 rounded-lg">
        <img src="/2.webp" alt="Icono 2" class="w-sm mx-auto mb-3 rounded-sm" />
        <h3 class="text-lg font-semibold mb-2">Dificultades para decidir</h3>
        <p>Tener problemas para tomar decisiones importantes</p>
      </div>
      <div class="bg-white/10 p-4 rounded-lg">
        <img src="/3.webp" alt="Icono 3" class="w-sm mx-auto mb-3 rounded-sm" />
        <h3 class="text-lg font-semibold mb-2">Ansiedad constante</h3>
        <p>Experimentar inquietud o ansiedad persistente</p>
      </div>
    </div>
    <h3 class="text-2xl font-semibold mb-4 mt-6">
      Habla con nosotros y recibe una orientación inicial por WhatsApp
    </h3>
    <a
      href="https://wa.me/525512345678"
      class="bg-rose-500 text-white px-8 py-3 text-center rounded-full 
      font-semibold text-lg hover:bg-rose-600 transition-all duration-300 
      hover:scale-105 shadow-lg hover:shadow-xl inline-block mx-auto"
      target="_blank"
      rel="noopener noreferrer"
    >
      Hablar ahora por WhatsApp
  </a>
  </div>
</section>
