<section class="min-h-screen flex items-center bg-black">
  <img src="/Background.webp" alt="Hero" class="opacity-30 w-full h-full object-cover absolute inset-0 z-0">
  <div class="container mx-auto text-center relative z-10">
    <h1 class="text-white text-5xl sm:text-6xl md:text-8xl font-bold mb-5">
      Ayuda <span class="text-rose-500">espiritual</span> personalizada
    </h1>
    <p class="text-white text-lg sm:text-xl md:text-xl mb-8 max-w-4xl mx-auto px-2">
      Atención especializada para tu bienestar emocional y espiritual, pensada
      para ayudarte a encontrar claridad y calma en momentos difíciles.
    </p>
    <a
      href="https://wa.me/+573242880246"
      class="bg-rose-500 text-white px-8 py-3 text-center rounded-full 
      font-semibold text-lg hover:bg-rose-600 transition-all duration-300 
      hover:scale-105 shadow-lg hover:shadow-xl inline-block mx-auto"
      target="_blank"
      rel="noopener noreferrer"
    >
      Hablar ahora por WhatsApp
  </a>
  </div>
</section>
