<section class="testimonios flex flex-col items-center py-16 bg-zinc-900">
  <div class="text-center mb-8">
    <h3 class="text-2xl text-zinc-300 mb-13">
      Escuchamos tu caso y realizamos una lectura inicial personalizada.
    </h3>
    <div class="container mx-auto px-4">
      <div class="grid md:grid-cols-3 gap-8">
        <div class="bg-white/5 p-6 rounded-lg shadow-md">
          <h3>1️⃣ Escríbenos por WhatsApp</h3>
          <p>Inicia la conversación de forma directa y confidencial.</p>
        </div>
        <div class="bg-white/5 p-6 rounded-lg shadow-md">
          <h3>2️⃣ Analizamos tu situación</h3>
          <p>
            Escuchamos tu caso y realizamos una lectura inicial personalizada..
          </p>
        </div>
        <div class="bg-white/5 p-6 rounded-lg shadow-md">
          <h3>3️⃣ Recibes orientación</h3>
          <p>
            Te acompañamos con una orientación espiritual adaptada a tu proceso.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-4 mb-13">
    <h2 class="text-3xl font-bold text-center mb-12">Testimonios</h2>
    <div class="grid md:grid-cols-3 gap-8">
      <div class="bg-white/5 p-6 rounded-lg shadow-md">
        <p class="text-zinc-200 italic">
          "La ayuda que recibí me ayudó a entender mejor mi situación y a
          reencontrarme emocionalmente con mi pareja. Hoy me siento más
          tranquila y segura de mis decisiones."
        </p>
        <p class="text-sm text-gray-500 mt-4">- María G.</p>
      </div>
      <div class="bg-white/5 p-6 rounded-lg shadow-md">
        <p class="text-zinc-200 italic">
          "Me sentí escuchado desde el primer momento. La ayuda espiritual me
          ayudó a reconectar con mi pareja y a vivir el proceso con más calma y
          confianza"
        </p>
        <p class="text-sm text-gray-500 mt-4">- Juan P.</p>
      </div>
      <div class="bg-white/5 p-6 rounded-lg shadow-md">
        <p class="text-zinc-200 italic">
          "Pasaba por un momento muy difícil en mi relación. Pero gracias a
          la ayuda espiritual, encontré paz y logré reconectar con mi
          pareja. Me sentí acompañada en cada paso."
        </p>
        <p class="text-sm text-gray-500 mt-4">- Ana R.</p>
      </div>
    </div>
  </div>
  <div class="text-center py-8">
    <a
      href="https://wa.me/525512345678"
      class="bg-rose-500 text-white px-8 py-3 text-center rounded-full
      font-semibold text-lg hover:bg-rose-600 transition-all duration-300
      hover:scale-105 shadow-lg hover:shadow-xl inline-block mx-auto"
      target="_blank"
      rel="noopener noreferrer"
    >
      Hablar ahora por WhatsApp
    </a>
  </div>
</section>
