<section class="work py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl md:text-6xl font-bold text-center mb-12">Cómo Trabajamos</h2>
    <div class="mt-8 text-center mb-12">
      <p class="text-lg text-zinc-300 max-w-3xl mx-auto">
        Cada persona vive su situación de forma distinta. Por eso ofrecemos una
        orientación espiritual personalizada, enfocada en comprender tu caso,
        brindarte claridad emocional y acompañarte durante el proceso.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-8 mb-12">
      <div class="text-center">
        <div
          class="bg-blue-100 w-16 h-16 rounded-full flex items-center justify-center mx-auto mb-4"
        >
          <span class="text-blue-600 text-2xl">1</span>
        </div>
        <h3 class="text-xl font-semibold mb-2">Apertura de Camino</h3>
        <p class="text-zinc-300">
          Comenzamos con una conversación sincera para entender tu situación y
          abrir el camino espiritual para obtener las respuestas que buscas.
        </p>
      </div>
      <div class="text-center">
        <div
          class="bg-blue-100 w-16 h-16 rounded-full flex items-center justify-center mx-auto mb-4"
        >
          <span class="text-blue-600 text-2xl">2</span>
        </div>
        <h3 class="text-xl font-semibold mb-2">Trabajo Espiritual</h3>
        <p class="text-zinc-300">
          Comenzamos a trabajar en tu situación desde una perspectiva
          espiritual, buscando la guía y la luz para encontrar la mejor
          solución.
        </p>
      </div>
      <div class="text-center">
        <div
          class="bg-blue-100 w-16 h-16 rounded-full flex items-center justify-center mx-auto mb-4"
        >
          <span class="text-blue-600 text-2xl">3</span>
        </div>
        <h3 class="text-xl font-semibold mb-2">Resultados</h3>
        <p class="text-zinc-200">
          Obtenemos resultados concretos y duraderos, guiados por la fe y el
          amor con el acompañamiento espiritual adecuado.
        </p>
      </div>
    </div>
    <div class="text-center">
      <a
        href="https://wa.me/+573242880246"
        class="bg-rose-500 text-white px-8 py-3 text-center rounded-full
      font-semibold text-lg hover:bg-rose-600 transition-all duration-300
      hover:scale-105 shadow-lg hover:shadow-xl inline-block mx-auto"
        target="_blank"
        rel="noopener noreferrer"
      >
        Hablar ahora por WhatsApp
      </a>
    </div>
  </div>
</section>
