<div
  class="fixed bottom-4 right-4 w-full z-20 max-w-sm mx-auto px-4 py-8 bg-black/50 rounded-lg text-center"
>
  <a
    href="https://wa.me/1234567890"
    class="text-white underline underline-offset-4 hover:text-rose-300 transition-colors"
    >Hablar ahora por WhatsApp</a
  >
</div>
