<div
  class="fixed bottom-2 right-2 md:bottom-4 md:right-4 w-full z-20 max-w-[90vw] md:max-w-sm mx-auto px-4 py-8 bg-black/50 rounded-lg text-center"
>
  <a
    href="https://wa.me/+573242880446"
    class="text-white underline underline-offset-4 hover:text-rose-300 transition-all group"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src="/whatsapp-icon.svg"
      alt="WhatsApp"
      class="w-4 h-4 md:w-8 md:h-8 inline-block mr-2 hover:scale-110 transition-transform"
    />
    Hablar ahora por WhatsApp</a
  >
</div>
